// Primary Colors
$midnight_green: #014e56;
$light_coral: #f67e7e;
$white: #fff;
// Secondary Colors
$rapture_blue: #79cbc7;
$police_blue: #2c6269;
$deep_jungle_green: #004047;
$sacramento_state_green: #012f34;
$dark_green: #002529;

// Mixins
$breakpoints: (
    "phone":        400px,
    "phone-wide":   480px,
    "phablet":      560px,
    "tablet-small": 640px,
    "tablet":       768px,
    "tablet-wide":  1024px,
    "desktop":      1200px,
    "desktop-wide": 1440px
);
@mixin mq($width, $type: max) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == min {
            $width: $width + 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}

@mixin heading1() {
  font-weight: bold;
  font-size: 100px;
  line-height: 1;
  @include mq('desktop') {
    font-size: 80px;
  }
  @include mq('tablet') {
    font-size: 64px;
    line-height: 56px;
  }
  @include mq('phablet') {
    font-size: 40px;
    line-height: 1;
  }
}
@mixin heading2() {
  font-weight: bold;
  font-size: 48px;
  line-height: 1;
  @include mq('tablet') {
    font-size: 32px;
  }
}
@mixin heading3() {
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
}
@mixin bodyText($size) {
  font-weight: 600;
  @if $size == large {
    font-size: 18px;
    line-height: 28px;
    @include mq('tablet') {
      font-size: 15px;
    }
    @include mq('phablet') {
      font-size: 18px;
    }
  }
  @else if $size == small {
    font-size: 15px;
    line-height: 25px;
  }
}